<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link
      rel="shortcut icon"
      type="text/html"
      href="{% static 'images/favicon.ico' %}"
    />
    <title>Wager Wars</title>
  </head>

  <body style="margin: 0">
    <main style="width: 100vw; height: 100vh; margin: 0">
      <noscript>You need to enable JavaScript to run this app.</noscript>
      <div id="betting1-root"></div>
      {% load static %}
      <script type="module" src="{% static 'js/betting1.js' %}"></script>
    </main>
  </body>
</html>
